:root{
    --corpo: #1D232A;
    --cabecalho: #1D232A;
    --cabecalhoMobile: #15191C;
    --menuLateral: #15191C;
    --cartao: #2C343A;
    --fonte: #FFFFFF;
    --fonteAlternativa: #95999C;
    --links: #0480DC;
    --botao: #0480DC;
    }