:root{
    --corpo: #1D232A;
    --cabeçalho: #1D232A;
    --cabeçalhoMobile: #15191C;
    --menuLateral: #15191C;
    --cartão: #2C343A;
    --fonte: #FFFFFF;
    --fonteAlternativa: #95999C;
    --links: #0480DC;
    --botão: #0480DC;
    }