@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: var(--corpo);
    color: var(--fonte);
    font-family: 'Open Sans','icones', sans-serif;
}

.cabecalho{
    align-items: center;
    background-color: var(--cabeçalhoMobile);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

/*menu*/

.menu-lateral{
    background-color: var(--cabeçalhoMobile);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -100vw;
    position: absolute;
    transition: .25s;
    width: 75vw;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo{
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link{
    align-items: center;
    color: var(--fonteAlternativa);
    display: flex;
    height: 64px;
    padding-left: 63px;
}

.menu-lateral__link--ativo{
    color: var(--fonte);
    padding-left: 56px;
    border-left: 8px solid #ffffff;
}

.menu-lateral__link::before{
    content: "\e900";
    font-size: 24px;
    height: 24px;
    left: 24px;
    position: absolute;
    width: 24px;
}

.menu-lateral__link--inicio::before{
    content: "\e902";
}

.menu-lateral__link--videos::before{
    content: "\e90e";
}

.menu-lateral__link--picos::before{
    content: "\e909";
}
.menu-lateral__link--integrantes::before{
    content: "\e903";
}
.menu-lateral__link--camisas::before{
    content: "\e900";
}
.menu-lateral__link--pinturas::before{
    content: "\e90a";
}
